<p id="notice"><%= notice %></p>

<p>
  Title: <%= @video.title %>
</p>

<p>
  Thumb: <%= image_tag(@video.thumb.url.to_s, width: 210) %>
</p>

<p>
  <%= video_tag(@video.video.url.to_s, controls: true, size: "450x450") %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
