<%- model_class = Video -%>
<div class="page-header">
  <h1>
    <%= t '.title', default: model_class.model_name.human.titleize %>
  </h1>
</div>

<div class="title">
  <dt>
    <strong><%= model_class.human_attribute_name(:title) %>:</strong> <%= @video.title %>
  </dt>
</div>

<div class="thumb">
  <dt>
    <strong><%= model_class.human_attribute_name(:thumb) %>:</strong>
  </dt>
  <div class="thumb-image">
    <dt><%= image_tag(@video.thumb.url.to_s, width: 210) %></dt>
  </div>
</div>

<dl class="dl-horizontal">
  <div class="video-player-show">
    <%= render partial: "videos/video_player", locals: { url: @video.video.url.to_s }%>
  </div>
</dl>

<%= link_to t('.back', default: t("helpers.links.back")),
              videos_path, class: 'btn btn-default'  %>
<%= link_to t('.edit', default: t("helpers.links.edit")),
              edit_video_path(@video), class: 'btn btn-default' %>
<%= link_to t('.destroy', default: t("helpers.links.destroy")),
              video_path(@video),
              method: 'delete',
              data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
              class: 'btn btn-danger' %>
